[2021-11-01 02:04] Tc2r1 opened #22 "Feature: Clearer instructions for how to add to Anwsers and Questions json file."
### Is your feature request related to a problem? Please describe.

I believe that the instructions inside the answers.json and questions.json file are confusing.

### Describe the solution you'd like

I would like someone to refactor the answers within the two files above to reflect a better understanding of what is needed.

### Describe alternatives you've considered

The files should contain ex

[2021-11-01 02:14] AndroidLion48 commented on #22
Thanks for the Task!

[2021-11-01 02:25] #22 closed

[2022-01-03 15:50] distantfutures opened #24 "Feature: Update Java code to Kotlin"
### Is your feature request related to a problem? Please describe.

Not related to a problem. Looking to update Java language to Kotlin due to Android becoming "Kotlin first"

### Describe the solution you'd like

Convert Java code to Kotlin

### Additional context

Will need to convert to Kotlin in order to add or change any new features due to familiarity with Kotlin

[2022-01-05 15:16] distantfutures opened #26 "Feature: Use Coroutine & Retrofit to get JSON data for Answers & Questions"
### Is your feature request related to a problem? Please describe.

AsyncTask is deprecated. App is only using default/hardcoded questions in the app

### Describe the solution you'd like

Use Coroutine & Retrofit to request & pull JSON files for Answers & Questions

### Describe alternatives you've considered

Considered continuing to use Async Task

### Additional context

[2022-01-16 04:54] Sreeletchuxmi commented on #26
#24

[2022-01-17 02:35] Tc2r1 opened #27 "Feature: Update All Libraries in Project in preparation for Kotlin convergence."
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-10-08 06:21] Tc2r1 opened #35 "Feature: Add Screen to choose what code language you'd like for quiz."
### Is your feature request related to a problem? Please describe.

Quiz application is currently tuned towards Android Quiz questions, Application should open to a screen allowing users to choose what type of quiz they would like to engage in.

### Describe the solution you'd like

User will create a "pick a quiz" fragment that allows user to choose different types of quizzes based on languages.

[2022-10-08 07:49] GeorgeET15 commented on #35
Hi, I would like to work on this project can you assign this to me. Thank you

[2022-10-10 10:01] #24 closed

[2022-10-10 10:02] #27 closed

[2022-10-10 10:09] Tc2r1 opened #36 "Feature: Add Test Cases To Native_Java - Retrofit - Main Activity"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Main Activity in the Native_Java/Retrofit module.

Please Add Test Coverage for the Native_Java/ Retrofit Module

[2022-10-10 10:10] Tc2r1 opened #37 "Feature: Add Test Cases To Native_Java - Retrofit - Score Fragment"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Score Fragment in the Native_Java/Retrofit module.

Please Add Test Coverage for the Native_Java/ Retrofit Module

[2022-10-10 10:10] Tc2r1 opened #38 "Feature: Add Test Cases To Native_Java - Retrofit - Question Fragment"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Question Fragment in the Native_Java/Retrofit module.

Please Add Test Coverage for the Native_Java/ Retrofit Module

[2022-10-10 10:11] Tc2r1 opened #39 "Feature: Add Test Cases To Native_Java - Retrofit - Dialog Fragment"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Dialog Fragment in the Native_Java/Retrofit module.

Please Add Test Coverage for the Native_Java/ Retrofit Module

[2022-10-10 10:12] Tc2r1 opened #40 "Feature: Add Test Cases To Native_kotlin - Retrofit - Dialog Fragment"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Dialog Fragment in the Native_Kotlin/Retrofit module.

Please Add Test Coverage for the Native_Kotlin/ Retrofit Module

[2022-10-10 10:12] Tc2r1 opened #41 "Feature: Add Test Cases To Native_kotlin - Retrofit - Score Fragment"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Score Fragment in the Native_Kotlin/Retrofit module.

Please Add Test Coverage for the Native_Kotlin/ Retrofit Module

[2022-10-10 10:13] Tc2r1 opened #42 "Feature: Add Test Cases To Native_kotlin - Retrofit - Question Fragment"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Question Fragment in the Native_Kotlin/Retrofit module.

Please Add Test Coverage for the Native_Kotlin/ Retrofit Module

[2022-10-10 10:13] Tc2r1 opened #43 "Feature: Add Test Cases To Native_kotlin - Retrofit - Main Activity"
Is your feature request related to a problem? Please describe.

Please Add Test cases for the Main Activity in the Native_Kotlin/Retrofit module.

Please Add Test Coverage for the Native_Kotlin/ Retrofit Module

[2022-10-12 18:54] Tc2r1 opened #44 "Feature: Add Screen to choose what code language you'd like for quiz."
### Is your feature request related to a problem? Please describe.

Quiz application is currently tuned towards Android Quiz questions, Application should open to a screen allowing users to choose what type of quiz they would like to engage in.

Inside of the Native_Java/Template module only, add a screen that allows user to pick which quiz they'd like to engage in.

### Describe the solution you'

[2022-10-12 18:58] Tc2r1 opened #45 "Feature: Add Screen to choose what code language you'd like for quiz. Native_Kotlin/Template"
## Quiz application is currently tuned towards Android Quiz questions, Application should open to a screen allowing users to choose what type of quiz they would like to engage in.

Inside of the Native_Kotlin/Template module only, add a screen that allows user to pick which quiz they'd like to engage in.
Describe the solution you'd like

Developer will create a "pick a quiz" fragment or activity t

[2022-10-12 19:02] Tc2r1 opened #46 "Feature: Add Screen to choose what code language you'd like for quiz. Native_Java/Base"
## Quiz application is currently tuned towards Android Quiz questions, Application should open to a screen allowing users to choose what type of quiz they would like to engage in.

Inside of the Native_Java/Base module only, add a screen that allows user to pick which quiz they'd like to engage in.

Developer will create a "pick a quiz" fragment or activity that allows user to choose different typ

[2022-10-12 19:11] Tc2r1 opened #47 "Feature: Add Screen to choose what code language you'd like for quiz. Native_Kotlin/base"
## Quiz application is currently tuned towards Android Quiz questions, Application should open to a screen allowing users to choose what type of quiz they would like to engage in.

Inside of the Native_Kotlin/Base module only, add a screen that allows user to pick which quiz they'd like to engage in.

Developer will create a "pick a quiz" fragment or activity that allows user to choose different t

[2022-10-12 19:32] Tc2r1 opened #48 "Add Quiz Question and Answers"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

##If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wou

[2022-10-12 19:37] Tc2r1 opened #49 "Add To Question Or Answers Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-12 19:41] Omm2005 commented on #48
Hey can you assign me ? I can do it!

[2022-10-12 22:36] SahilChandravanshi commented on #49
@Tc2r1 , can you please assign this to me. I'd like to work on this.

[2022-10-13 16:57] gvadam commented on #49
Hi, can I also work on this?

[2022-10-13 19:12] Tc2r1 commented on #49
@SahilChandravanshi , @gvadam  please feel free to work on these. , feel free to clone this issue to create your own if you'd like to track it on the issue tracker, however you may also just complete the work detailed in the ticket and create a PR :)

[2022-10-13 19:14] Tc2r1 commented on #48
@Omm2005 Hi Omm! Please read the instructions, are you a developer? What language are you learning ? What type of programmer are you?  Even if you aren't that's fine too. It looks like your PR is changing the template folder itself, please make your questions relevant to one of the languages folder in the project (example: Java/ python/ android/ etc) and the questions relevant to that.

[2022-10-13 23:34] SahilChandravanshi commented on #49
Thanks for assigning it to us. Working on it😄

[2022-10-14 00:48] SahilChandravanshi commented on #49
Hey @Tc2r1 . I made a PR. Please review it😄

[2022-10-14 06:19] Tc2r1 opened #54 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-14 06:19] Tc2r1 opened #55 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-14 06:20] Tc2r1 opened #56 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-14 06:20] Tc2r1 opened #57 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-14 07:16] AyushTripathi-sketch commented on #57
Please assign me this issue

[2022-10-14 07:23] SDtw20 commented on #56
I can do this

[2022-10-14 07:38] Tc2r1 commented on #57
@AyushTripathi-sketch  sure, I see you specialize in web design :D, would you be interested in adding a webapp/web based version of the quiz app to the repo?

[2022-10-14 07:40] Tc2r1 commented on #56
@SDtw20 sounds great!

[2022-10-14 07:40] SDtw20 commented on #56
#58 **Added 3 questions of java**
Kindly review this PR

[2022-10-14 07:54] SDtw20 commented on #56
Will try

[2022-10-14 07:55] Tc2r1 opened #59 "Feature: Create a github action to automate the assignment of issues using a "!assign" command tag."
### Is your feature request related to a problem? Please describe.

Problem is I'm just one maintainer and I want to help facilitate those who wish to contribute in a more timely manner.

### Describe the solution you'd like

Create a github action to automate the assignment of issues using a "!assign" command tag.  Thus the first to comment with !assign to an issue would get assigned the issue.

[2022-10-14 07:59] Tc2r1 commented on #56
Hi @SDtw20, I see you know Java? would you be interested in contributing some Java code to the repo?

If so, copy the java/template folder and rename it Sdtw20_java and then make changes to it to show how you'd build the repository layer and submit a PR :D. This is often an interview practice given to candidates and you'd gain a bit of experience with it. Also it helps to go along with the spirit

[2022-10-14 08:07] gdguesser commented on #59
Hello, could you please assign it to me?

[2022-10-14 08:15] SDtw20 commented on #56
Maybe sometime later

[2022-10-14 08:17] Tc2r1 commented on #59
@gdguesser done

[2022-10-14 08:46] AyushTripathi-sketch commented on #57
Sure :) , Can u please share insights on how the quiz app should look like and functionalities it should include?

[2022-10-14 09:34] Tc2r1 commented on #57
@AyushTripathi-sketch  i will do that when I awake, sure :)

[2022-10-14 22:01] #49 closed

[2022-10-15 02:58] Tc2r1 opened #61 "Feature: [Kotlin] - Splash Screen Activity for native_kotlin/base"
Please Create a splash screen for the application within the native_kotlin/retrofit folder.

Splash screen should cover the full screen, the application should open to the splash screen, display it for a few seconds then move on to the next activity.

[2022-10-15 02:58] Tc2r1 opened #62 "Feature: [Kotlin] - Splash Screen Activity for native_kotlin/template"
Please Create a splash screen for the application within the native_kotlin/retrofit folder.

Splash screen should cover the full screen, the application should open to the splash screen, display it for a few seconds then move on to the next activity.

[2022-10-15 02:59] Tc2r1 opened #63 "Feature: [Kotlin] - Splash Screen Activity for native_kotlin/retrofit"
Please Create a splash screen for the application within the native_java/retrofit folder.

Splash screen should cover the full screen, the application should open to the splash screen, display it for a few seconds then move on to the next activity.

[2022-10-15 03:07] Tc2r1 opened #64 "Feature: [Java] - Splash Screen Activity for native_java/retrofit"
Please Create a splash screen for the application within the native_java/retrofit folder.

Splash screen should cover the full screen, the application should open to the splash screen, display it for a few seconds then move on to the next activity.

[2022-10-15 03:08] Tc2r1 opened #65 "Feature: [Java] - Splash Screen Activity for native_java/base"
Please Create a splash screen for the application within the native_java/base folder.

Splash screen should cover the full screen, the application should open to the splash screen, display it for a few seconds then move on to the next activity.

[2022-10-15 03:08] Tc2r1 opened #66 "Feature: [Java] - Splash Screen Activity for native_java/template"
Please Create a splash screen for the application within the native_java/template folder.

Splash screen should cover the full screen, the application should open to the splash screen, display it for a few seconds then move on to the next activity.

[2022-10-15 06:58] gvadam commented on #55
Hi, can you assign this to me again? I was too busy earlier to update my previous pull request before you closed the other issue.

[2022-10-15 07:33] Tc2r1 commented on #55
@gvadam  if you understand what you must do, just go ahead and fix it and create a PR

[2022-10-16 18:07] Tc2r1 commented on #35
Hi George, how goes the work? @GeorgeET15

[2022-10-17 05:36] Tc2r1 commented on #57
@AyushTripathi-sketch  sorry for the delay.

The app essentially builds a 10 question quiz of multiple choice questions using questions from the [Questions.json](https://github.com/Tc2r1/Hacktoberfest_Interview_App/blob/master/Languages/Android/questions.json) and Answers from the [Answers.json](https://github.com/Tc2r1/Hacktoberfest_Interview_App/blob/master/Languages/Android/answers.json). A Que

[2022-10-17 05:38] Tc2r1 commented on #56
@SDtw20  this is a follow up, did you want me to create an issue for you?

[2022-10-17 05:38] #56 closed

[2022-10-17 05:38] #55 closed

[2022-10-17 05:39] Tc2r1 opened #68 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 08:44] mtahashahid commented on #68
Hey, I would like to contribute to this repo by adding 3 Questions.
Can you please assign this to me.

[2022-10-17 09:09] Tc2r1 commented on #68
sure just type "!assign"

[2022-10-17 09:10] mtahashahid commented on #68
!assign

[2022-10-17 09:15] Tc2r1 opened #70 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 09:16] Tc2r1 opened #71 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 09:21] Tc2r1 commented on #26
@distantfutures  @Sreeletchuxmi  do you still want to work on this? I've updated the project :D

[2022-10-17 09:26] Kanupriya-Jain commented on #71
!assign

[2022-10-17 09:28] Premjeet1804 commented on #71
!assign

[2022-10-17 09:28] Premjeet1804 commented on #70
!assign

[2022-10-17 13:01] pantbibek21 commented on #71
Hello sir, I would like to solve this issue specifically by adding questions for javascript. I would like to add 3 questions by updating the dummy questions and correcting a  little mistake in the question with id 6.
Thanks for such an awesome initiative.

[2022-10-17 15:42] Tc2r1 commented on #63
Sure. Go for it :D

[2022-10-17 16:02] Premjeet1804 commented on #71
thanks-You for assigning

[2022-10-17 16:24] Rarj commented on #62
Hi @Tc2r1 , can you assign this work to me plz?
Thanks anw!

[2022-10-17 16:41] Tc2r1 opened #74 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 17:12] Tc2r1 commented on #59
@Tc2r1  this doesn't seem to be working for new people?

[2022-10-17 19:12] Tc2r1 opened #75 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 19:14] Tc2r1 commented on #75
test

[2022-10-17 19:14] Tc2r1 commented on #75
!assign

[2022-10-17 19:36] Tc2r1 commented on #75
!assign

[2022-10-17 21:48] Tc2r1 opened #76 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 22:37] Tc2r1 commented on #76
test

[2022-10-17 22:41] Tc2r1 opened #80 "Add 3 Quiz Questions or Answers to Json"
## Level 1 Contributions - Add a minimal of 3 objects to the questions or answers json of your choice.

We are using Json to create a list of frequently given interview questions and answers for different languages!
In every directory, you will find two files `questions` and `answers`

## If you'd like to contribute to **questions.json**:
1. Fork this repo
2. Navigate to the language folder you wo

[2022-10-17 23:34] Tc2r1 commented on #80
!assign

[2022-10-17 23:40] Tc2r1 commented on #80
taco taco !assign taco

[2022-10-18 01:03] distantfutures commented on #26
Sure, I'm down. But I can only really dedicate an hour or so a day so I'll see what I can do in the next 2 weeks!

[2022-10-18 03:11] KeysGilbert commented on #71
I can add some questions for Java.

[2022-10-18 04:58] #71 closed

[2022-10-18 04:59] #70 closed

[2022-10-18 05:00] #68 closed

[2022-10-18 05:11] Tc2r1 commented on #62
@Rarj  Hi, just type "!assign" and it will be automatically assigned to you.

[2022-10-18 05:38] Rarj commented on #62
!assign

[2022-10-18 05:49] Tc2r1 opened #85 "[iOS] Create a native iOS version of the application."
The app essentially builds a 10 question quiz of multiple choice questions using questions from the [Questions.json](https://github.com/Tc2r1/Hacktoberfest_Interview_App/blob/master/Languages/Android/questions.json) and Answers from the [Answers.json](https://github.com/Tc2r1/Hacktoberfest_Interview_App/blob/master/Languages/Android/answers.json). A Question item / model/ response has a "shortAns"

[2022-10-18 05:56] Premjeet1804 commented on #70
hi i have given a PR please check

[2022-10-18 06:01] Tc2r1 opened #87 "[Android_React_Native] Create a Unique Version Of The App using React Native"
The app essentially builds a 10 question quiz of multiple choice questions using questions from the [Questions.json](https://github.com/Tc2r1/Hacktoberfest_Interview_App/blob/master/Languages/Android/questions.json) and Answers from the [Answers.json](https://github.com/Tc2r1/Hacktoberfest_Interview_App/blob/master/Languages/Android/answers.json). A Question item / model/ response has a "shortAns"

[2022-10-18 06:37] Tc2r1 opened #88 "Error: Fix Github Lint Action"
### Describe the Error

Github Lint is failing on Pull Request.

### Expected behavior

Github Lint action should not fail on pull request.

### Additional context

Please fix whatever is causing the failure, to assign this issue type-!assign

[2022-10-18 17:37] Tc2r1 commented on #80
@Lz-01  just type "!(a)ssign"  with the exclamation mark at the start to have the issue assigned to you.

[2022-10-18 19:59] AndroidLion48 commented on #88
!assign

[2022-10-18 20:11] AndroidLion48 opened #93 "Add 3 Quiz Answers to Json"
## If you'd like to contribute to **answers.json**:
1. Fork this repo
2. Navigate to the language folder you would like to contribute to.
3. Open Answers.json, here copy the last item in the list, and fill in each label.

 **answer**: A topic with a basic small description.
 **details**: Detailed Information on the subject supplied in Answer, **no more than 150 characters.**

Please make sure to m

[2022-10-18 23:44] Tc2r1 commented on #93
!assign

[2022-10-18 23:48] Tc2r1 commented on #93
!assign

[2022-10-19 01:24] jtsimon93 commented on #93
!assign

[2022-10-19 05:34] RachitGarg-12 commented on #93
!assign

[2022-10-19 06:33] rishu1601 commented on #93
!assign

[2022-10-19 15:00] C-V-Anish commented on #93
!assign

[2022-10-19 18:20] #57 closed

[2022-10-19 18:20] #59 closed

[2022-10-19 19:39] Tc2r1 opened #95 "Add 3 Quiz Answers to Json"
## If you'd like to contribute to **answers.json**:
1. Fork this repo
2. Navigate to the language folder you would like to contribute to.
3. Open Answers.json, here copy the last item in the list, and fill in each label.

 **answer**: A topic with a basic small description.
 **details**: Detailed Information on the subject supplied in Answer, **no more than 150 characters.**

Please make sure to m

[2022-10-20 03:26] MilindPanwar commented on #95
Please assign this issue to me.

[2022-10-20 03:27] MilindPanwar commented on #95
!assign

[2022-10-20 03:57] MilindPanwar commented on #75
Please assign this issue to me.

[2022-10-20 03:57] MilindPanwar commented on #75
!assign

[2022-10-20 04:20] MilindPanwar commented on #93
!assign

[2022-10-20 16:46] nombasamore commented on #76
Hi, @Tc2r1, I would like to be assigned to this issue.

[2022-10-20 17:26] rishu1601 commented on #95
https://github.com/Tc2r1/Hacktoberfest_Interview_App/pull/98 - Please review

[2022-10-20 17:28] rishu1601 commented on #93
@Tc2r1  - Please review #98

[2022-10-20 17:56] nombasamore commented on #74
!assign

[2022-10-21 01:48] AndroidLion48 commented on #63
Hello @siddhesh-coder!  What is your status on the this?

[2022-10-21 13:09] ShrinathPawar commented on #54
I would like to work on this issue...

[2022-10-21 15:08] #95 closed

[2022-10-21 15:12] Tc2r1 commented on #26
@distantfutures did you sign up for hacktoberfest?

[2022-10-21 15:25] ShrinathPawar commented on #54
Will you review my PR [Added three questions](https://github.com/Tc2r1/Hacktoberfest_Interview_App/pull/103)

[2022-10-22 03:18] dineshkarthi95 commented on #47
Hey I can pick this up, can you assign this to me ?

[2022-10-22 03:36] AndroidLion48 opened #104 "[Native_Kotlin] Create a Unique App Version using View Binding libraries."
### 🎃🎃LEVEL 3 CONTRIBUTIONS🎃🎃 - BUILD A MODULE OF THE PROJECT :O!! YOU'RE A BOSS!

Want a challenge? Here you will rebuild the project with options to use the supplied UI. You will focus on showing off a few different libraries. To show other developers different ways in which
these things can be combined to build the quiz application. Please focus on and gain experience with the repository layer,

[2022-10-22 03:38] AndroidLion48 opened #105 "[Native_Java] Create a Unique App Version using View Binding Libraries"
### 🎃🎃LEVEL 3 CONTRIBUTIONS🎃🎃 - BUILD A MODULE OF THE PROJECT :O!! YOU'RE A BOSS!

Want a challenge? Here you will rebuild the project with options to use the supplied UI. You will focus on showing off a few different libraries. To show other developers different ways in which
these things can be combined to build the quiz application. Please focus on and gain experience with the repository layer,

[2022-10-22 03:40] AndroidLion48 opened #106 "[Native_Kotlin] Create a Unique App Version using Data Binding"
### 🎃🎃LEVEL 3 CONTRIBUTIONS🎃🎃 - BUILD A MODULE OF THE PROJECT :O!! YOU'RE A BOSS!

Want a challenge? Here you will rebuild the project with options to use the supplied UI. You will focus on showing off a few different libraries. To show other developers different ways in which
these things can be combined to build the quiz application. Please focus on and gain experience with the repository layer,

[2022-10-22 03:41] AndroidLion48 opened #107 "[Native_Java] Create a Unique App Version using Data Binding Libraries"
### 🎃🎃LEVEL 3 CONTRIBUTIONS🎃🎃 - BUILD A MODULE OF THE PROJECT :O!! YOU'RE A BOSS!

Want a challenge? Here you will rebuild the project with options to use the supplied UI. You will focus on showing off a few different libraries. To show other developers different ways in which
these things can be combined to build the quiz application. Please focus on and gain experience with the repository layer,

[2022-10-22 03:44] AndroidLion48 opened #108 "[Native_Kotlin] Create a Unique App Version using Coroutine Libraries"
### 🎃🎃LEVEL 3 CONTRIBUTIONS🎃🎃 - BUILD A MODULE OF THE PROJECT :O!! YOU'RE A BOSS!

Want a challenge? Here you will rebuild the project with options to use the supplied UI. You will focus on showing off a few different libraries. To show other developers different ways in which
these things can be combined to build the quiz application. Please focus on and gain experience with the repository layer,

[2022-10-22 03:46] AndroidLion48 opened #109 "[Native_Kotlin] Create a Unique App Version using Dagger Libraries"
### 🎃🎃LEVEL 3 CONTRIBUTIONS🎃🎃 - BUILD A MODULE OF THE PROJECT :O!! YOU'RE A BOSS!

Want a challenge? Here you will rebuild the project with options to use the supplied UI. You will focus on showing off a few different libraries. To show other developers different ways in which
these things can be combined to build the quiz application. Please focus on and gain experience with the repository layer,

[2022-10-22 03:58] AndroidLion48 opened #110 "[Native_Java] Create a Unique App Version using Dagger Libraries"
### Create a version of the app that uses VIEW BINDING by duplicating the native_kotlin/template module and implementing said library to display to new developers how the application is build with VIEW BINDING!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest

[2022-10-22 04:00] AndroidLion48 opened #111 "[Native_Kotlin] Create a Unique App Version using Hilt Libraries"
<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_01.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_02.png?" height="800">

<img

[2022-10-22 04:02] AndroidLion48 opened #112 "[Native_Java] Create a Unique App Version using Hilt Libraries"
### Create a version of the app that uses VIEW BINDING by duplicating the native_kotlin/template module and implementing said library to display to new developers how the application is build with VIEW BINDING!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest

[2022-10-22 04:06] AndroidLion48 opened #113 "[Native_Kotlin] Create a Unique App Version using RXJava Libraries"
### Create a version of the app that uses RXJava by duplicating the native_kotlin/template module and implementing said library to display to new developers how the application is build with VIEW BINDING!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Inter

[2022-10-22 04:07] AndroidLion48 opened #114 "[Native_Java] Create a Unique App Version using RXJava"
### Create a version of the app that uses RXJava by duplicating the native_Java/template module and implementing said library to display to new developers how the application is build with VIEW BINDING!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Intervi

[2022-10-22 04:14] Tc2r1 opened #115 "[PYTHON] ReCreate the quiz app using Python."
## Create a version of the app that uses Python by coding a restful api call to get the quiz answers and questions json and building a multiple choice quiz in Python.

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribu

[2022-10-22 04:17] Tc2r1 opened #116 "[Javascript] Create a Unique App Version using Javascript."
## Create a version of the app  as a webpage by coding a restful api call to get the quiz answers and questions json and building a multiple choice quiz.

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_01.

[2022-10-22 04:26] AndroidLion48 opened #117 "[Native_Kotlin] Create a Unique App Version using GSON Libraries"
### Create a version of the app that uses GSON by duplicating the native_Kotlin/template module and implementing said library to display to new developers how the application is build with GSON!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/m

[2022-10-22 04:27] prasad-more-12 commented on #104
!assign

[2022-10-22 04:27] AndroidLion48 opened #118 "[Native_Java] Create a Unique App Version using GSON Libraries"
### Create a version of the app that uses GSON by duplicating the native_Java/template module and implementing said library to display to new developers how the application is build with GSON!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/mas

[2022-10-22 04:30] AndroidLion48 opened #119 "[Native_Kotlin] Create a Unique App Version using Moshi Libraries"
### Create a version of the app that uses MOSHI by duplicating the native_Kotlin/template module and implementing said library to display to new developers how the application is build with MOSHI!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App

[2022-10-22 04:31] AndroidLion48 opened #120 "[Native_Java] Create a Unique App Version using Moshi"
### Create a version of the app that uses MOSHI by duplicating the native_Java/template module and implementing said library to display to new developers how the application is build with MOSHI!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/m

[2022-10-22 04:35] AndroidLion48 opened #121 "[Native_Kotlin] Create a Unique App Version using Epoxy"
### Create a version of the app that uses EPOXY by duplicating the native_Kotlin/template module and implementing said library to display to new developers how the application is build with EPOXY!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App

[2022-10-22 04:37] Tc2r1 opened #122 "Add Method to request Json Information for a language in the languages folder."
## Add Method to request Json Information for a language in the languages folder.
### Skill Level: Easy

1) Navigate to `[MODULE]/repository.tc2rgithubrepository.source.remote.Tc2rGithubService`

2) Add a request method to get both the Answers.json and Questions.json from a missing language folder so that application may have a way of retrieving information for more than one type of quiz.

Example

[2022-10-22 04:37] Tc2r1 opened #123 "Add Method to request Json Information for a language in the languages folder."
## Add Method to request Json Information for a language in the languages folder.
### Skill Level: Easy

1) Navigate to `[MODULE]/repository.tc2rgithubrepository.source.remote.Tc2rGithubService`

2) Add a request method to get both the Answers.json and Questions.json from a missing language folder so that application may have a way of retrieving information for more than one type of quiz.

Example

[2022-10-22 04:37] AndroidLion48 opened #124 "[Native_Java] Create a Unique App Version using Epoxy Libraries"
### Create a version of the app that uses Epoxy by duplicating the native_Java/template module and implementing said library to display to new developers how the application is build with Epoxy!

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_new_module.png?" height="800">

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/m

[2022-10-22 04:40] Tc2r1 opened #125 "Add Comments to a file in a module explaining what the code is doing."
This one is simple, Inside the project, find a file/class and add comments to the code to help explain what users are doing.

[2022-10-22 05:12] mksiddiq commented on #125
I can do this. I am a beginner, so it will also help me learn.

[2022-10-22 06:08] Tc2r1 opened #126 "Feature: Add Realm DB to a module in the Project to store questions and answers."
setup Local storage in one of the modules inside the project by using Realm.

Realm Database runs right on client devices. Access objects using the native query language for each platform. Storing, accessing, and updating your data is simple and lightweight.
<br>
<br>
<br>

### 🎃🎃LEVEL 2 CONTRIBUTIONS🎃🎃 - RESOLVE A SMALL "ISSUE" TICKET!

1. Find an issue and ask for rights/claim to work on it.
2.

[2022-10-22 06:30] Tc2r1 opened #127 "Feature: Add Room DB to a module in the Project to store questions and answers."
Setup Local storage in one of the modules inside the project by using Room db.

Most Android applications require local data storage. In the past years, we have achieved this through the use of SQLite databases. Room is a persistent library that is part of the Android jetpack. It is built on top of SQLite. The room persistent library has many advantages over raw SQLite.
<br>
<br>
<br>

### 🎃🎃LEVEL

[2022-10-22 07:35] mksiddiq commented on #61
Hi, is this issue resolved?

[2022-10-22 08:02] mksiddiq commented on #127
Hi, I would like to try this one. We only have to add the db right? or we also have to insert questions and answers in the database by creating dao?

[2022-10-22 08:39] Vaishnavi-More commented on #125
Hey @Tc2r1 kindly assign this issue to me. I am beginner and I want to learn something new and I can do this.

[2022-10-22 08:51] Tc2r1 commented on #125
You can assign the file to yourself, instructions are in the root readme. @Vaishnavi-More

[2022-10-22 09:00] Tc2r1 commented on #127
@mksiddiq  please insert questions and answers into the database by creating dao in the `com/interviewprep/kotlinretrofit/repository/tc2rgithubrepository/source/local` folder, or a similar path you'd create (different modules have different setups).

If its too hard to add the Dao for you, feel free to just add the db :) Pick a module you like (or are familiar with) to work in.

[2022-10-22 09:01] Vaishnavi-More commented on #125
Hey @Tc2r1 , actually I am a beginner and I have very little knowledge about open source. And I am not trying to copy paste code but all the contributions made by me are my own documents. All the codes contributed are written by me and I have studied them earlier. And I would like to request you to kindly guide me so that I don't break the rule.
It would help me allot.

[2022-10-22 09:21] Tc2r1 commented on #125
@Vaishnavi-More You want to be careful not to contribute too much to repositories that break this rule or you can end up blacklisted from the fest.

https://user-images.githubusercontent.com/43691873/135965000-a3019b12-c089-4a61-bae3-81f915ec39a5.png

To find good repos to contribute to, these sites are very useful for small contributions:

https://up-for-grabs.net/#/filters?tags=android
https://w

[2022-10-22 09:30] Vaishnavi-More commented on #125
Thank you so much!
It is really helpful and would guide me!

[2022-10-22 09:38] mksiddiq commented on #127
Sure, I will work on it.

[2022-10-22 09:52] Tc2r1 commented on #63
@siddhesh-coder  how is this coming along?

[2022-10-22 09:53] Tc2r1 commented on #62
@Rarj  how's this coming along?

[2022-10-22 09:54] Tc2r1 commented on #61
@mksiddiq  this one I believe is resolved, however there are at least 3 more, feel free to build a module and if it doesn't have a splash screen, add it :D

[2022-10-22 09:56] mksiddiq commented on #61
Sure! Thank you :)

[2022-10-22 09:58] Tc2r1 commented on #61
please type "! assign" (no spaces) on this ticket and work on this module :D #63

[2022-10-22 10:05] mksiddiq commented on #127
@Tc2r1 I have a doubt. None of the layout files are opening and all the code is in red. There is a pop-up saying that Hacktoberfest_interview_App is not a gradle based project. Any idea on how to resolve this?

[2022-10-22 10:07] mksiddiq commented on #61
Sure, thanks

[2022-10-22 10:07] mksiddiq commented on #63
!assign

[2022-10-22 11:26] mksiddiq commented on #127
@Tc2r1 actually, is there someone who I can contact so that I am able to resolve the issues in the app. There are various errors in the app and the gradle do not show sync option due to which I am unable to apply ROOM. It would be very helpful of you. Thank you so much for cooperating :)

[2022-10-22 15:09] siddhesh-coder commented on #63
sorry man I cant do it

[2022-10-22 16:32] Tc2r1 commented on #127
@mksiddiq  HI, it sounds like you may have opened the project incorrectly. Here are some image guides to show how to correctly open the project.

However if you would like to communiate over a messenger, just reply here and i'll see if we can sync up shortly after your reply.

<img src="http://raw.github.com/Tc2r1/Hacktoberfest_Interview_App/master/Assets/how_to_contribute/how_to_01.png?" height="

[2022-10-22 16:43] Tc2r1 opened #130 "This one is simple, Inside the project, find a file/class and add comments to the code to help explain what users are doing."
** #This one is simple, Inside the project, find a file/class and add comments to the code to help explain what users are doing.**

Additional Notes:

(Type "!assign" to assign an issue to yourself :D Multiple people may work on the same issue with this project as it grants plenty of opportunities to contribute.)

To Open the project in Android Studio, Eclipse or Intellij (or any other IDE I suppo

[2022-10-22 16:48] Tc2r1 commented on #63
@siddhesh-coder  That's sad to hear, what issues did you run into?
@mksiddiq
Here are some resources that could help guide you on how to complete this ticket.
[A guide on 3 different ways to complete this.](https://medium.com/proandroiddev/splash-screen-in-android-3bd9552b92a5)

[My brother's approved PR where you can review his code](#102 )

[2022-10-22 16:53] Tc2r1 commented on #62
@Rarj
Additional Resources:

[A guide on 3 different ways to complete this.](https://medium.com/proandroiddev/splash-screen-in-android-3bd9552b92a5)

[My brother's approved PR where you can review his code](https://github.com/Tc2r1/Hacktoberfest_Interview_App/pull/102/files)

#102

[2022-10-22 17:51] mksiddiq commented on #63
sure, thank you!

[2022-10-22 17:53] mksiddiq commented on #127
Oh, this might be the problem. This should help, thanks!

[2022-10-22 17:58] Tc2r1 commented on #127
@mksiddiq  meet with me here: https://8x8.vc/charlestherapper i'll be on for next 30ish minutes.

[2022-10-22 20:25] Tc2r1 opened #131 "Add 3 Quiz Answers to Json"
## If you'd like to contribute to **answers.json**:
1. Fork this repo
2. Navigate to the language folder you would like to contribute to.
3. Open Answers.json, here copy the last item in the list, and fill in each label.

 **answer**: A topic with a basic small description.
 **details**: Detailed Information on the subject supplied in Answer, **no more than 150 characters.**

Please make sure to m

[2022-10-22 21:14] atiqueakhtar commented on #131
I will be adding my set of answers for Ruby.

[2022-10-23 03:13] amitkroutthedev commented on #131
@Tc2r1  Can I add questions for JavaScript

[2022-10-23 05:08] SanushRadalage commented on #130
!assign

[2022-10-23 06:35] prasad-more-12 commented on #131
!assign

[2022-10-23 06:38] OneAutumLeaf commented on #131
!assign

[2022-10-23 10:15] SheriffAbdullah commented on #130
!assign Thank you, Maintainer.

[2022-10-23 12:42] jayasurya7a commented on #131
!assign

[2022-10-23 18:16] yazh1202 commented on #66
I have added the splash screen for the app. Please review the PR and suggest any changes,if needed. Thanks!

[2022-10-23 19:56] Tc2r1 commented on #26
@Sreeletchuxmi Hey why did you link these 2?, Are you Participating in hacktoberfest this year?

[2022-10-24 03:00] Tc2r1 opened #140 "Add Method to request Json Information for a language in the languages folder."
## Add Method to request Json Information for a language in the languages folder.
### Skill Level: Easy

1) Navigate to `[MODULE]/repository.tc2rgithubrepository.source.remote.Tc2rGithubService`

2) Add a request method to get both the Answers.json and Questions.json from a missing language folder so that application may have a way of retrieving information for more than one type of quiz.

Example

[2022-10-24 07:39] Shrikant-Wankhade commented on #140
!assign

[2022-10-24 11:27] amitkroutthedev commented on #131
I added five question in JS in #141

[2022-10-24 13:50] prasad-more-12 commented on #104
@Tc2r1 I have copied the template folder so by the looks of it its structure is similiar to the retrofit, so to demonstrate View Binding do I have to implement my own retrofit or am I allowed to use retrofit application folder or should i leave the quiz section as it is and only focus on demonstrating View Binding.

[2022-10-24 14:57] ShireanR commented on #125
!assign

Hi please can I be assigned to this too.

[2022-10-24 17:14] Tc2r1 opened #148 "Watch Android Summit and write a small summary about your favorite topic they discussed"
(To Assign an issue to yourself, type !Assign)
(Multiple People May Summit this Issue!)

As a budding Android developer, or programmer in general you should tune into the yearly Android Dev Summit 2022!

Please tune in and watch. After watching a bit please create a document in the project `and-summit-22-notes` with your thoughts on what you found interesting that was discussed.

To View the Summi

[2022-10-25 03:34] Tc2r1 commented on #104
hi @prasad-more-12, you are allowed to use whatever you want from the other modules to build your module (copy paste I suppose) but you'd learn more by doing it your own way, If your intent is only to demonstrate view binding, then feel free to copy the retrofit module instead and make yours.

An example of what all of this looks like can be seen in this current PR.

https://github.com/Tc2r1/Hackt

[2022-10-25 08:45] yazh1202 commented on #127
I am trying to implement the RoomDB for KotlinBase Module and there are already classes defined for Question and Answer instances so do I use typeconverters to store those instances into RoomDB or should I make new data classes for Answer and Question.

[2022-10-25 13:24] Rarj commented on #62
hi @Tc2r1 , I've been added [Splash Screen's PR](https://github.com/Tc2r1/Hacktoberfest_Interview_App/pull/153). you can check my work.
sorry if you waiting too long for this task, due to have problem on my laptop.
if you have any concern, don't hesitate to discuss here.

thanks in advance!

[2022-10-25 17:19] prasad-333 commented on #64
Raised https://github.com/Tc2r1/Hacktoberfest_Interview_App/pull/155 PR

[2022-10-25 19:22] prasad-more-12 commented on #66
!assign

[2022-10-25 19:22] prasad-more-12 commented on #65
!assign

[2022-10-25 21:17] Tc2r1 commented on #127
Please feel free to contact me on google chat. (nudenniew@gmail.com) or google hangouts.  @yazh1202 @mksiddiq

[2022-10-25 22:48] prasad-333 commented on #123
Request calls for all supported quiz language in native-java-retrofit module PR #158

[2022-10-25 23:03] Tc2r1 opened #159 "Add 3 Quiz Answers to Json (NOT ANDROID OR DSA FOLDER)"
## If you'd like to contribute to **answers.json**:
1. Fork this repo
2. Navigate to the language folder you would like to contribute to.
3. Open Answers.json, here copy the last item in the list, and fill in each label.

 **answer**: A topic with a basic small description.
 **details**: Detailed Information on the subject supplied in Answer, **no more than 150 characters.**

Please make sure to m

[2022-10-25 23:04] Tc2r1 opened #160 "Add Method to request Json Information for a language in the languages folder."
## Add Method to request Json Information for a language in the languages folder.
### Skill Level: Easy

1) Navigate to `[MODULE]/repository.tc2rgithubrepository.source.remote.Tc2rGithubService`

2) Add a request method to get both the Answers.json and Questions.json from a missing language folder so that application may have a way of retrieving information for more than one type of quiz.

Example

[2022-10-26 03:57] prasad-more-12 commented on #159
@Tc2r1 should i go for it I can add to almost everything except for ios and swiftui.

[2022-10-26 04:11] Tc2r1 commented on #159
@prasad-more-12  actually give me just a moment I might have a better one for you :D

[2022-10-26 04:24] Tc2r1 opened #162 "NA"
[Click Here For Details](https://github.com/Tc2r1/Hacktoberfest_Interview_App/tree/master/Cheat_Sheets)

[2022-10-26 08:13] mksiddiq commented on #127
@Tc2r1 sure

[2022-10-26 08:15] Tc2r1 commented on #127
@mksiddiq https://8x8.vc/tc2r1 if g chat doesn't work

[2022-10-26 08:21] Tc2r1 opened #163 "Add Method to request Json Information for a language in the languages folder."
## Add Method to request Json Information for a language in the languages folder.
### Skill Level: Easy

1) Navigate to `[MODULE]/repository.tc2rgithubrepository.source.remote.Tc2rGithubService`

2) Add a request method to get both the Answers.json and Questions.json from a missing language folder so that application may have a way of retrieving information for more than one type of quiz.

Example

[2022-10-26 08:22] Tc2r1 opened #164 "[Kotlin] Create a Unique App Version using flow."
## Create a version of the app that uses [INSERT REQUEST HERE] by duplicating the Native_Kotlin/template module and implementing said library to display to new developers how the application is build with the flow library!

4. copy the template application folder, paste it into native_kotlin folder, and rename it based on what your project will showcase. for example "retrofit, coroutines, viewmode

[2022-10-26 08:25] Tc2r1 opened #165 "Design a Lottie Animation for the Splash Screen"
### Is your feature request related to a problem? Please describe:

Please Design a Lottie Animation to be seen when application is starting.

### Additional context

[2022-10-26 08:26] Tc2r1 opened #166 "Design an App Icon"
### Is your feature request related to a problem? Please describe:

Please design an app icon to use for this project.

[2022-10-26 08:36] komalsoni4 commented on #162
please assign me

[2022-10-26 08:38] Tc2r1 commented on #162
@komalsoni4  if you read the details you'd know how to request assignment...

[2022-10-26 08:39] komalsoni4 commented on #125
please assign me

[2022-10-26 08:42] Tc2r1 commented on #125
@komalsoni4  please read the readme.md to see how to assign yourself an issue.

[2022-10-26 08:47] komalsoni4 commented on #162
!assign

[2022-10-26 08:48] komalsoni4 commented on #125
!assign

[2022-10-26 08:51] komalsoni4 commented on #125
!assign

[2022-10-26 09:20] komalsoni4 commented on #159
!assign

[2022-10-26 09:21] komalsoni4 commented on #159
I can add for html and javascript

[2022-10-26 10:46] ninjadev64 commented on #162
!assign

[2022-10-26 12:14] prasad-333 commented on #122
Adds request calls for all languages for native-kotlin-retrofit module #167

[2022-10-26 14:47] yazh1202 commented on #127
I have raised a PR #170 regarding this issue. Please review it and suggest changes if required.

[2022-10-26 19:53] #162 closed

[2022-10-27 05:10] PRO-BROS commented on #116
I also faced a similar issue on my [site](https://prhocoding.com/) but thankfully I hire a developer which resolve that's issue.

[2022-10-27 05:21] Tc2r1 commented on #116
@PRO-BROS  lol trolling? what? bored?

[2022-10-27 06:48] Suryash-Jha commented on #115
Can you please assign it to me?

[2022-10-27 10:44] pradhyumanarora commented on #166
please assign it me to!
Is there anything specific you want?

[2022-10-27 10:46] pradhyumanarora commented on #166
!assign

[2022-10-28 01:29] distantfutures commented on #26
@Tc2r1 I haven't. Haven't been able to set aside enough time to work on this. It looks like Retrofit and Coroutines is already implemented on the Kotlin native Kotlin Module. You're looking to have someone complete the Java part? I can take a crack at it but it might take a while for since I'm more fluent with Kotlin

[2022-10-28 02:58] Tc2r1 commented on #26
@distantfutures  are you able to contact me? my info should still be the same

[2022-10-28 08:33] Hwajun1323 commented on #45
Can you assign me for this?

[2022-10-28 11:38] Hwajun1323 commented on #45
@Tc2r1  How to start this application? I couldn't find the configuration

[2022-10-28 21:13] sbhmrj commented on #166
!assign

[2022-10-28 21:14] sbhmrj commented on #165
!assign

[2022-10-28 21:23] sbhmrj commented on #165
Adding Lottie Animation to be seen when the

https://user-images.githubusercontent.com/84335266/198735208-db3401c2-cf9f-4dcc-bfa1-9cabdb406595.mp4

application is starting.

[2022-10-28 23:22] Tc2r1 commented on #165
I like this :D o.O but what would it be used for? a splash screen? can you find a module that doesn't have one? @sbhmrj

[2022-10-29 02:25] atulyakhatri opened #179 "Error: Mistake in documentation"
### There is a mistake in documentaion

In [github-contribution-rules](https://github.com/Tc2r1/Hacktoberfest_Interview_App#github-contribution-rules) section, It is given 50,000 T-shirts prize.

### But it is announced,

##### So I am resolving it!

[2022-10-29 07:42] Avnish010 commented on #66
Please assign this issue to me.

[2022-11-25 07:36] HGhanim commented on #87
!assign